.back{
	background-image: url("http://il3.picdn.net/shutterstock/videos/9568208/thumb/1.jpg");
}
.barra{
	background-color: transparent;
}
.letra{
	color: white;
}
.caja1{
	margin-top: 5%;
}
.none{
	display: none;
}
.up{
	padding: 2% 75% 2% 1%;
	background-color: white;
	border-radius: 6px;
	opacity: 0.6;
	text-decoration: none;
	color: black;
	margin-top: 1%;
}
.nope{
	text-decoration: none;
}
.linkeable{
	background-color: white;
	border-radius: 6px;
	width: 30%;
    box-sizing: border-box;
    padding: 0.5% 1% ;
    opacity: 0.6;
    border-radius: 6px;
    margin-top: 1%;
}
.formu{
	background-color: #5F282B;
	opacity: 0.8;
	width: 30%;
	padding: 0.5%;
	box-sizing: border-box;
	border-radius: 6px;
}
.boton{
	padding: 1% 5%;
	margin-top: 2%;
	background-color: #8D5E6E;
	border: 1px solid #8D5E6E;
}
.rellenar{
	padding: 1.3% 49% 1% 2%;
	border-radius: 6px;
}