.back{
	white-space: nowrap;
	background-image: url("http://il3.picdn.net/shutterstock/videos/9568208/thumb/1.jpg");
}
.barra{
	background-color: transparent;
}
.letra{
	color: white;
}
.caja1{
	margin-top: 5%;
}
.none{
	display: none;
}
.up{
	
	background-color: white;
	opacity: 0.6;
	text-decoration: none;
	color: black;
}
inline-block {
	display: inline-block;
	}
.float-left{
	float: left;
}
.form{
	 margin-left: 3%;
    margin-right: 3%;
}
.newup{
	padding: 2% 21% 2% 1%;
	background-color: white;
	border-radius: 6px;
	opacity: 0.6;
	text-decoration: none;
	color: black;
	margin-top: 1%;
}
.block{
	display: block;
}
.newup2{
	
	padding: 2% 21% 2% 1%;
	background-color: red;
	border-radius: 6px;
	opacity: 0.8;
	text-decoration: none;
	color: black;
	margin-top: 1%;
    width: 200px;
    margin-left: 1%;
}
.area{
	display: block;
	background-color: red;
	border-radius: 6px;
	opacity: 0.8;
	text-decoration: none;
	color: black;
	margin-top: 1%;
}
.nope{
	text-decoration: none;
}
.linkeable{
	background-color: white;
	border-radius: 6px;
    box-sizing: border-box;
    padding: 10px 90px 10px 20px ;
    opacity: 0.8;
    border-radius: 6px;
    margin-top: 7%;
    margin-left: 3%;
    margin-right: 3%;
}
.formu{
	background-color: #5F282B;
	opacity: 0.8;
	padding: 4%;
	box-sizing: border-box;
	border-radius: 6px;
}
.formu2{
	background-color: #5F282B;
	opacity: 0.8;
	padding: 4%;
	box-sizing: border-box;
	border-radius: 6px;
	height: 100px;
}
.boton{
	padding: 1% 5%;
	margin-top: 2%;
	background-color: #8D5E6E;
	border: 1px solid #8D5E6E;
}
.boton2{
	padding: 1% 5%;
	background-color: #8D5E6E;
	border: 1px solid #8D5E6E;
	float: left;
}
.rellenar{
	border-radius: 6px;
}
.rellenar2{
	border-radius: 6px;
	width: 90%;
}
.papa{
	display: inline-block;
	border-radius: 6px;
	 margin-left: 1%;
	 margin-top:2%;
}
.tarjetas{
	background-color: white;
	border-radius: 6px;
    box-sizing: border-box;
    padding: 10px 90px 10px 20px ;
    opacity: 0.8;
    border-radius: 6px;
    margin-top: 3%;
    margin-left: 3%;
	display: inline-block;
	vertical-align: top;
}
.none{
	display: none;
}
.azul{
	background-color: gray;
}
.opacity{
	background-color:yellow;
	opacity: 0.4;
	 transform: rotate(3deg);
    -moz-transform: rotate(3deg);
    -webkit-transform: rotate(3deg);
}
.tableros{
	display: inline-block;
	position: relative;
	margin-right: 9em;
	background-color: transparent !important;
	border-color:  red !important;
}
.buscador ,.buscar ,.trello-logo ,.perfil,.ico ,.globe,.mas{
	display: inline-block;
	background-color: transparent !important;
	border-color:red !important;
}
.izquierda{
	display: inline-block;
	position: relative;
	margin-left: 30%;
}
.buscador{
	position: relative;
	margin-right: 10%;
}
header{
	text-align: center;
}
